@charset "utf-8";

body {
  background: #fff;
  font-family: sans-serif;
}

.counties {
  stroke-width: 0.5;
  stroke: #fff;
  shape-rendering: crispedges;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5;
}

.nation {
  stroke: #fff;
  fill: none;
}

.stadium {
  fill: hotpink;
  stroke: #fff;
  stroke-width: 1;
}

.d3-tip {
  line-height: 1;
  background: rgba(255, 255, 255, 1);
  color: #555;
  border-radius: 2px;
  font-size: 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

  h3 {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 12px;
  }

  p {
    padding: 10px;
    margin: 0;
    color: #777;
  }

  span {
    color: #333;
    font-weight: bold;
  }
}
