/* line 1, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 12, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 16, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/reset.scss */
body {
  line-height: 1; }

/* line 20, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/reset.scss */
ol, ul {
  list-style: none; }

/* line 24, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/reset.scss */
blockquote, q {
  quotes: none; }

/* line 29, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none; }

/* line 36, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/reset.scss */
q:before, q:after {
  content: '';
  content: none; }

/* line 42, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }
/* line 3, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
body {
  background: #010101;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #ccc; }

/* line 11, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
a {
  color: #777; }
  /* line 14, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  a:hover {
    color: #999; }

/* line 22, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
header {
  background: #111;
  padding: 20px;
  font-family: "Roboto Slab";
  color: #666;
  vertical-align: middle;
  line-height: 1;
  border-bottom: 1px solid #222; }
  /* line 31, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  header h1 {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    border-right: 1px solid #333;
    padding-right: 10px; }
  /* line 39, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  header h2 {
    display: inline-block;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 14px; }
  /* line 46, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  header .credit {
    float: right;
    font-size: 14px;
    color: #444; }

/* line 57, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.master-toolbar {
  padding: 10px 20px;
  background: #151515;
  text-align: right;
  border-bottom: 1px solid #171717; }

/* line 64, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.select {
  display: inline-block;
  position: relative; }
  /* line 68, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .select:after {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    content: "\25BC";
    color: #aaa;
    z-index: 9999;
    position: absolute;
    right: 10px;
    top: 13px;
    pointer-events: none; }
  /* line 81, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .select select {
    background: #222;
    border: 1px solid #292929;
    border-radius: 2px;
    padding: 7px 25px 7px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    outline: none;
    position: relative; }

/* line 97, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.tabs {
  display: inline-block; }

/* line 101, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.tab {
  display: inline-block; }
  /* line 104, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .tab a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #1f1f1f;
    padding: 10px;
    display: block; }
  /* line 113, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .tab:first-child a {
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  /* line 119, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .tab:last-child a {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  /* line 124, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .tab a.selected {
    background: #333;
    box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.2), inset -3px -3px 6px rgba(0, 0, 0, 0.2); }

/* line 147, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
#master-map-container {
  background: #111;
  padding: 20px;
  position: relative; }

/* line 153, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
#master-map {
  margin: 0; }

/* line 157, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.counties {
  stroke-width: 0.5;
  stroke: #222;
  fill-opacity: 0.5; }

/* line 163, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.states {
  fill: none;
  stroke: #444;
  stroke-width: 1; }

/* line 169, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.nation {
  stroke: #444;
  fill: none; }

/* line 174, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.school {
  fill: #009dff;
  stroke: #000;
  stroke-opacity: 0.6;
  stroke-width: 1;
  cursor: pointer; }
  /* line 181, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .school:hover {
    fill: tomato; }

/* line 186, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.connection {
  fill: none;
  stroke: green;
  stroke-width: 1; }
  /* line 191, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .connection.stars5 {
    stroke-width: 2.5; }
  /* line 195, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .connection.stars4 {
    stroke-width: 1.5; }

/* line 200, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.recruit {
  stroke-width: 0.5;
  stroke: #000;
  stroke-opacity: 0.5; }

/* line 206, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.legend {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  color: #ccc;
  font-size: 12px;
  border-radius: 2px;
  position: absolute;
  top: 20px;
  left: 20px;
  pointer-events: none; }
  /* line 218, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .legend .title {
    padding: 10px 10px 0 10px;
    text-align: center;
    display: block;
    border-top: 1px solid #333;
    font-weight: bold;
    color: #ccc; }
    /* line 226, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
    .legend .title:first-child {
      border-top: none;
      padding: 0 10px 5px 10px; }
  /* line 232, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .legend .school {
    width: 10px;
    height: 10px;
    color: #009dff;
    display: inline-block;
    margin-right: 5px; }
  /* line 240, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .legend .ramp {
    margin: 5px 0 10px 0; }
  /* line 244, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .legend .ramp li {
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 10px; }
  /* line 251, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .legend .recruit-ramp {
    list-style: none;
    font-size: 12px; }
    /* line 255, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
    .legend .recruit-ramp li {
      border-bottom: 1px solid #222;
      padding: 10px;
      line-height: 1; }
    /* line 261, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
    .legend .recruit-ramp li span {
      height: 1px;
      width: 100px;
      display: inline-block;
      position: relative;
      margin-right: 10px;
      margin-bottom: 3px; }
      /* line 269, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
      .legend .recruit-ramp li span:after {
        content: "\2022";
        display: inline-block;
        font-size: 32px;
        float: right;
        line-height: 1;
        margin-top: -14px;
        margin-right: -5px; }
    /* line 282, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
    .legend .recruit-ramp .star5 span {
      height: 3px;
      background: #ec180c; }
      /* line 285, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
      .legend .recruit-ramp .star5 span:after {
        color: #ec180c; }
    /* line 288, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
    .legend .recruit-ramp .star4 span {
      height: 2px;
      background: #eeb016; }
      /* line 291, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
      .legend .recruit-ramp .star4 span:after {
        color: #eeb016; }
    /* line 294, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
    .legend .recruit-ramp .star3 span {
      background: #bcf020; }
      /* line 296, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
      .legend .recruit-ramp .star3 span:after {
        color: #bcf020; }
    /* line 299, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
    .legend .recruit-ramp .star2 span {
      background: #5adacc; }
      /* line 301, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
      .legend .recruit-ramp .star2 span:after {
        color: #5adacc; }
    /* line 304, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
    .legend .recruit-ramp .star1 span {
      background: #a634f4; }
      /* line 306, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
      .legend .recruit-ramp .star1 span:after {
        color: #a634f4; }

/* line 315, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.d3-tip {
  min-width: 100px;
  line-height: 1;
  background: white;
  color: #555;
  border-radius: 2px;
  font-size: 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); }
  /* line 324, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .d3-tip h3 {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 12px; }
  /* line 331, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .d3-tip p {
    padding: 10px;
    margin: 0;
    color: #777; }
  /* line 337, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .d3-tip span {
    color: #333;
    font-weight: bold; }

/* line 343, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.d3-tip-county {
  background: rgba(0, 0, 0, 0.9);
  font-size: 12px;
  padding: 5px;
  color: #999; }
