/* line 1, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 12, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 16, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/reset.scss */
body {
  line-height: 1; }

/* line 20, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/reset.scss */
ol, ul {
  list-style: none; }

/* line 24, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/reset.scss */
blockquote, q {
  quotes: none; }

/* line 29, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none; }

/* line 36, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/reset.scss */
q:before, q:after {
  content: '';
  content: none; }

/* line 42, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }
/* line 8, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
body {
  background: #010101;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #ccc; }

/* line 16, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
a {
  color: #777; }
  /* line 19, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  a:hover {
    color: #999; }

/* line 27, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
header {
  background: #111;
  padding: 20px;
  font-family: "Roboto Slab";
  color: #666;
  vertical-align: middle;
  line-height: 1;
  border-bottom: 1px solid #222; }
  /* line 36, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  header h1 {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    border-right: 1px solid #333;
    padding-right: 10px; }
  /* line 44, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  header h2 {
    display: inline-block;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 14px;
    vertical-align: 3px; }
  /* line 52, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  header .credit {
    float: right;
    font-size: 14px;
    color: #444; }

/* line 63, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.master-toolbar {
  padding: 10px 20px;
  background: #151515;
  text-align: right;
  border-bottom: 1px solid #171717; }

/* line 70, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.select {
  display: inline-block;
  position: relative; }
  /* line 74, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .select:after {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    content: "\25BC";
    color: #aaa;
    z-index: 9999;
    position: absolute;
    right: 10px;
    top: 13px;
    pointer-events: none; }
  /* line 87, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .select select {
    background: #222;
    border: 1px solid #292929;
    border-radius: 2px;
    padding: 7px 25px 7px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    outline: none;
    position: relative; }

/* line 103, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.tabs {
  display: inline-block; }

/* line 107, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.tab {
  display: inline-block; }
  /* line 110, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .tab a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #1f1f1f;
    padding: 10px;
    display: block; }
  /* line 119, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .tab:first-child a {
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  /* line 125, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .tab:last-child a {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  /* line 130, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .tab a.selected {
    background: #333;
    box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.2), inset -3px -3px 6px rgba(0, 0, 0, 0.2); }

/* line 153, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
#master-map-container {
  background: #111;
  padding: 20px;
  position: relative; }

/* line 159, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
#master-map {
  margin: 0; }

/* line 163, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.ui-info {
  fill: #333;
  font-size: 12px;
  text-anchor: end; }

/* line 169, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.loading {
  text-align: center;
  width: 100px;
  display: block;
  margin: 30vh auto 0 auto;
  color: #fff; }

/* line 177, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.counties {
  stroke-width: 0.5;
  stroke: #222;
  fill-opacity: 0.6;
  shape-rendering: crispedges; }

/* line 184, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.states {
  fill: none;
  stroke: #555;
  stroke-width: 0.5; }

/* line 190, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.nation {
  stroke: #444;
  fill: none; }

/* line 195, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.school {
  fill: #009dff;
  stroke: #000;
  stroke-opacity: 0.6;
  stroke-width: 1;
  cursor: pointer; }
  /* line 202, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .school:hover {
    fill: tomato; }

/* line 207, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.connection {
  fill: none;
  stroke: green;
  stroke-width: 1; }
  /* line 212, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .connection.stars5 {
    stroke-width: 2.5; }
  /* line 216, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .connection.stars4 {
    stroke-width: 1.5; }

/* line 221, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.recruit {
  stroke-width: 0.5;
  stroke: #000;
  stroke-opacity: 0.5; }

/* line 227, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.legend {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  color: #ccc;
  font-size: 12px;
  border-radius: 2px;
  position: absolute;
  top: 20px;
  left: 20px;
  pointer-events: none; }
  /* line 239, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .legend .title {
    padding: 10px 10px 0 10px;
    text-align: center;
    display: block;
    border-top: 1px solid #333;
    font-weight: bold;
    color: #ccc; }
    /* line 247, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
    .legend .title:first-child {
      border-top: none;
      padding: 0 10px 5px 10px; }
  /* line 253, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .legend .school {
    width: 10px;
    height: 10px;
    color: #009dff;
    display: inline-block;
    margin-right: 5px; }
  /* line 261, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .legend .ramp {
    margin: 5px 0 10px 0; }
  /* line 265, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .legend .ramp li {
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 10px; }
  /* line 272, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .legend .recruit-ramp {
    list-style: none;
    font-size: 12px; }
    /* line 276, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
    .legend .recruit-ramp li {
      border-bottom: 1px solid #222;
      padding: 10px;
      line-height: 1; }
    /* line 282, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
    .legend .recruit-ramp li span {
      height: 1px;
      width: 100px;
      display: inline-block;
      position: relative;
      margin-right: 10px;
      margin-bottom: 3px; }
      /* line 290, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
      .legend .recruit-ramp li span:after {
        content: "\2022";
        display: inline-block;
        font-size: 32px;
        float: right;
        line-height: 1;
        margin-top: -14px;
        margin-right: -5px; }
    /* line 303, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
    .legend .recruit-ramp .star5 span {
      height: 3px;
      background: #ec180c; }
      /* line 306, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
      .legend .recruit-ramp .star5 span:after {
        color: #ec180c; }
    /* line 309, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
    .legend .recruit-ramp .star4 span {
      height: 2px;
      background: #eeb016; }
      /* line 312, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
      .legend .recruit-ramp .star4 span:after {
        color: #eeb016; }
    /* line 315, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
    .legend .recruit-ramp .star3 span {
      background: #bcf020; }
      /* line 317, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
      .legend .recruit-ramp .star3 span:after {
        color: #bcf020; }
    /* line 320, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
    .legend .recruit-ramp .star2 span {
      background: #5adacc; }
      /* line 322, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
      .legend .recruit-ramp .star2 span:after {
        color: #5adacc; }
    /* line 325, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
    .legend .recruit-ramp .star1 span {
      background: #a634f4; }
      /* line 327, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
      .legend .recruit-ramp .star1 span:after {
        color: #a634f4; }

/* line 333, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.county-info {
  top: 279px;
  width: 152px;
  z-index: 9999;
  display: none; }

/* line 340, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.star-recruits {
  margin-bottom: 5px; }

/* line 344, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.star-recruits li {
  display: table-cell;
  width: 1%;
  padding: 5px;
  white-space: nowrap;
  text-align: center; }

/* line 353, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.star-recruits .count {
  display: block;
  margin-top: 5px; }

/* line 358, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.star.two {
  color: #5adacc; }

/* line 359, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.star.three {
  color: #bcf020; }

/* line 360, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.star.four {
  color: #eeb016; }

/* line 361, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.star.five {
  color: #ec180c; }

/* line 363, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.cam {
  display: block;
  line-height: 1.5em;
  padding: 10px 0;
  border-top: 1px solid #333;
  text-align: center;
  color: #999; }

/* line 372, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.no-recruits {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #555; }

/* line 379, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.cam .count {
  color: #fff;
  font-weight: normal; }

/* line 384, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.county-bar {
  fill: tomato; }

/* line 388, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.domain {
  display: none; }

/* line 392, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.axis text {
  fill: #555; }

/* line 396, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.x.axis line {
  shape-rendering: crispedges;
  stroke: #222;
  stroke-width: 1; }

/* line 405, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.d3-tip {
  min-width: 100px;
  line-height: 1;
  background: white;
  color: #555;
  border-radius: 2px;
  font-size: 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); }
  /* line 414, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .d3-tip h3 {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 12px; }
  /* line 421, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .d3-tip p {
    padding: 10px;
    margin: 0;
    color: #777; }
  /* line 427, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
  .d3-tip span {
    color: #333;
    font-weight: bold; }

/* line 433, /Users/justin/dev/me/ruby/recruiting/source/stylesheets/all.scss */
.d3-tip-county {
  background: rgba(0, 0, 0, 0.9);
  font-size: 12px;
  padding: 5px;
  color: #999; }
