<style type="text/css">
  #part-1 {
    background-image: url(/images/bryant-denny-night.jpg);
  }

  #part-2 {
    background-image: url(/images/lower48-recruits.png);
  }
</style>

<section class="flex-container">
  <div class="js-section cover inner-shadow flex-item" id="part-1">
    <span class="title">
      <span class="title-main">The Class</span>
      <span class="title-sub">In college football, recruiting is everything.</span>
    </span>
  </div>
</section>
<section class="flex-container">
  <div class="js-section cover flex-item" id="part-2">
  </div>
</section>
