<div id="master-map-container">
  <div class="legend">
    <span class="title">More Recruits &rarr;</span>
    <ul class="ramp">
      <li style="background-color:#191919"></li>
      <li style="background-color:#0e270e"></li>
      <li style="background-color:#0d3b0d"></li>
      <li style="background-color:#0a550a"></li>
      <li style="background-color:#0c690b"></li>
      <li style="background-color:#128612"></li>
    </ul>
    <span class="title">Recruit level</span>
    <ul class="recruit-ramp">
      <li class="star5"><span></span> 5&#9733;</li>
      <li class="star4"><span></span> 4&#9733;</li>
      <li class="star3"><span></span> 3&#9733;</li>
      <li class="star2"><span></span> 2&#9733;</li>
      <li class="star1"><span></span> 1&#9733;</li>
    </ul>
    <span class="title">
      <span class="school"></span>School
    </span>
  </div>
  <div id="master-map"></div>
</div>
